.signup-form{
    background-color:#999;
    padding: 30px 0;
    margin:0px auto;
    width: 450px;
    height: 380px;
}

.form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    font-size: 15;
    font-family: 'Roboto',sans-serif;
    height: fit-content;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.first-child
{
   padding-right: 10px;
}

.last-child {
    padding-left: 10px;
    width: 100px;
}

.col{
    
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    margin-left: 10px;
}
.form-control{
    border-radius: 3px;
    height: 40px;
    box-shadow: none;
    color: #969fa4;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
    }


    .form-check-label{
        margin-bottom: 0;
    }

    .signup-form .btn {

        font-size: 16px;
        font-weight: bold;
        min-width: 140px;
        outline: none !important;
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .form-control, .btn {
        border-radius: 3px;
    }
    .btn-block {
        display: block;
        width: 100%;
    }
    .btn-group-lg>.btn, .btn-lg {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }
    .btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
    .btn {
        margin-top: 10px;
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #28a745;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
